@charset "utf-8";


.ch-grid {
    display:flex; justify-content:space-between;
    width:760px; margin:100px auto;
}
.ch-grid li {width:220px; height:220px;}


.ch-item {
    position:relative; width:100%; height:100%;
    perspective:700px;
}
.ch-item > div {
    position:absolute; width:100%; height:100%;
    transform-origin:50% 0%;
    transition:all 0.4s ease-in;
}
.ch-info-front {box-shadow:0 0 0 20px rgba(255,255,255,0.2) inset;}

.ch-bg-1 {background:url('../imgs/13.jpg') no-repeat center center;}
.ch-bg-2 {background:url('../imgs/14.jpg') no-repeat center center;}
.ch-bg-3 {background:url('../imgs/15.jpg') no-repeat center center;}

.ch-info-back {
    color:#f6f6f6; text-align:center; background:#000; opacity:0;
    transform:translateZ(-220px) rotate3d(1,0,0,90deg);
}
.ch-shadow {
    height:100%; box-shadow:0 0 0 2px rgba(255,255,255,0.1) inset;
    transition:all 0.4s ease-in 0.3s;
}
.ch-info-back h3, .ch-info-back p, .ch-info-back a {position:absolute; width:100%; opacity:0;}
.ch-info-back h3, .ch-info-back a {text-transform:uppercase;}
.ch-info-back h3 {
    top:0; font-size:18px; text-shadow:1px 1px 1px #000;
    transition:all 0.3s ease-in 0.6s;
}
.ch-info-back p {top:0; font-size:14px; transition:all 0.3s ease-in 0.9s;}
.ch-info-back a {
    top:0; font-size:15px; color:#fc0; text-shadow:1px 1px 1px #000;
    transition:all 0.3s ease-in 1.2s;
}



/*========== ch-item:hover ==========*/
.ch-item:hover .ch-info-front {
    opacity:0;
    transform:translateY(280px) rotate3d(1,0,0,-90deg);
}
.ch-item:hover .ch-info-back {
    opacity:1;
    transform:rotate3d(1,0,0,0deg);
}
.ch-item:hover .ch-shadow {
    box-shadow:0 0 30px #000 inset,
        0 0 0 110px rgba(255,50,100,0.3) inset;
}
.ch-item:hover .ch-info-back h3 {top:60px; font-size:18px; opacity:1;}
.ch-item:hover .ch-info-back p {top:95px; font-size:14px; opacity:1;}
.ch-item:hover .ch-info-back a {top:140px; font-size:15px; color:#fc0; opacity:1;}
